# Docker / env / veri
.env
db_data/
uploads/

# WordPress çekirdeği ve eklentileri repoda tutmuyoruz
wordpress/
wp-admin/
wp-includes/
wp-content/plugins/
wp-content/upgrade/
wp-content/cache/
wp-content/uploads/
wp-content/advanced-cache.php
wp-content/object-cache.php

# OS/IDE
.DS_Store
.idea/
.vscode/
